@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-container {
    background-color: transparent;
  }
  .inside-container {
    background-color: #f6f6f6;
  }

  .colorprice {
    color: #e32c2b;
  }

  .hero-img {
    background-image: url("assets/Homepage/Hero.jpg");
  }
}

@layer utilities {
  .hamburger-nav {
  
    background-color: #232324;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 17rem;
    height: 100vh;
    transition: 0.3s;
    opacity: 0;
    z-index: 3;
   
  }

  .hamburger-text {
    color: #bbcbcb;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .hamburger-nav.active {
    left: 0;
    opacity: 1;
    transition: 0.5s;
  
  }
}
